body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e; /* Changed from #121212 to dark gray */
    color: #ffffff; /* Changed text color to white */
    line-height: 1.6;
}

h2 {
    text-align: center;
    color: #ffffff; /* Changed headers color to white */
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Changed to blue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Adjusted hover color for blue */
}

#showInfoButton {
    max-width: 400px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#showInfoButton:hover {
    background-color: #218838;
}

#userInfo {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#deleteUserButton {
    max-width: 400px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    background-color: #dc3545; /* Changed to red */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#deleteUserButton:hover {
    background-color: #c82333; /* Adjusted hover color for red */
}

.back {
    max-width: 200px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.hidden {
    display: none !important;
}


