
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    color: #444;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#showInfoButton {
    max-width: 400px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#showInfoButton:hover {
    background-color: #218838;
}

#userInfo {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#deleteUserButton {
    max-width: 400px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    background-color: #dc3545; /* Red color for delete action */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#deleteUserButton:hover {
    background-color: #c82333; /* Darker red on hover */
}

.back {
    max-width: 200px; /* Set a maximum width */
    margin: 10px auto; /* Center the button */
    display: block;
    padding: 10px;
    background-color: #6c757d; /* Gray color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.hidden {
    display: none !important;
}


